{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Ralphie's Portfolio</title>
  <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}"/>
</head>
<body>

<nav class = "navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"  target="_blank">
      <img src="{% static "logo2.png" %}" width="35" height="35" alt="Ralph's Logo">
      Ralphie Perez !!!!!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
              <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/ralphie00"  target="_blank">Linkedin</a>
              </li>              
              <li class="nav-item">
                <a class="nav-link" href="{% static "/resume.pdf" %}"  target="_blank">Resume</a>
              </li>
              <li class="nav-item"> 
                <a class="nav-link" href="{% url 'blog:all_blogs' %}"  target="_blank">Blog</a>
             </li>
            </ul>
          </div>
  </div>
</nav>

    {% block content %}
    {% endblock %}

</body>

</html>